{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block content %}

<div class="flex justify-center flex-col lg:flex-row lg:items-start items-center h-full overflow-auto">
<div class="lg:order-none mt-20 lg:mx-5 w-11/12 md:w-10/12 lg:w-8/12 xl:w-6/12">
                        <!-- Tweet -->
                        <div class="relative border shadow-md bg-white rounded-lg m-auto mb-5 overflow-hidden">
                            <div class="flex items-center">
                                    <img class="relative m-3 object-cover w-16 h-16 rounded-full" src="{{ post.user.perfil.img.url }}" alt="">
                                <div class="flex flex-col w-full">
                                    <a href="{% url 'ver-perfil' post.user.username %}">
                                        <p>{{ post.user.first_name }}</p>
                                    </a>
                                    <a href="{% url 'ver-perfil' post.user.username %}">
                                        <p class="text-gray-400">@{{ post.user.username }}</p>
                                    </a>
                                </div>
                                {% if post.user == request.user %}
                                    <div class="relative -top-5 w-full flex justify-end p-5">
                                        <i class="cursor-pointer text-gray-400 text-2xl fas fa-ellipsis-h" id="menuPostIcon"></i>
                                        <div class="hidden transition-all duration-100 ease-linear absolute rounded top-10 w-auto border border-gray-300 bg-gray-100 hover:bg-gray-200" id="menuPost">
                                            <ul>
                                                <li>
                                                    <p class="cursor-pointer text-red-500 text-center p-2" id="eliminarPost" data-postid="{{ post.id }}"><i class="far fa-trash-alt"></i> Eliminar</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                {% endif %}
                                
                            </div>
                           <a href="{% url 'ver-publicacion' post.id %}">
                                <p class="px-5 text-gray-400">{{ post.timestamp|naturaltime }}</p>
                            </a>
                            <p class="px-5 pb-2">{{ post.content }}</p>
                            
                                <div class="flex justify-start ml-2">
                                    <button class="pb-2 pl-3 text-md transition-all ease-linear duration-100 text-gray-400 hover:text-blue-600"><i id="commentButton" class="far fa-comment"></i> {{ post.comentarios.count }}</button>
                                    {% if post in request.user.perfil.likes %}
                                        <button class="pb-2 pl-3 text-md transition-all ease-linear duration-100 text-red-600"><i id="dislikeButton" class="fas fa-heart"></i> <span class="cursor-auto">{{ post.likes.count }}</span></button>
                                    {% else %}
                                        <button class="pb-2 pl-3 text-md transition-all ease-linear duration-100 text-gray-400 hover:text-red-600"><i id="likeButton" class="far fa-heart"></i> <span class="cursor-auto">{{ post.likes.count }}</span></button>
                                    {% endif %}
                                </div>
                            <div id="comentarios">
                            {% if post.comentarios.all %}
                                {% for comentario in post.comentarios.all %}
                                    <!-- COMENTARIOS -->
                                        <div class="border-t bg-gray-50 p-3 border-gray-200 w-full">
                                            <div class="flex items-center text-sm px-5">
                                                <img class="relative m-3 ml-0 object-cover w-10 h-10 rounded-full" src="{{ comentario.autor.perfil.img.url }}" alt="">
                                                <div class="flex flex-col w-full">
                                                    <a href="{% url 'ver-perfil' comentario.autor.username %}">
                                                        <p>{{ comentario.autor.first_name }}</p>
                                                    </a>
                                                    <a href="{% url 'ver-perfil' comentario.autor.username %}">
                                                        <p class="text-gray-400">@{{ comentario.autor.username }}</p>
                                                    </a>
                                                </div>
                                                {% if comentario.autor == request.user %}
                                                    <div class="relative -top-5 w-full flex justify-end">
                                                        <i class="cursor-pointer text-gray-400 text-2xl fas fa-ellipsis-h" id="menuPostIcon"></i>
                                                        <div class="hidden transition-all duration-100 ease-linear absolute rounded top-5 w-auto border border-gray-300 bg-gray-100 hover:bg-gray-200" id="menuPost">
                                                            <form action="javascript:void(0);" method="POST">
                                                                <ul>
                                                                    <li>
                                                                        <p class="cursor-pointer text-red-500 text-center p-2" id="eliminarComentario" data-comentarioid="{{ comentario.id }}"><i class="far fa-trash-alt"></i> Eliminar</p>
                                                                    </li>
                                                                </ul>
                                                            </form>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                {% endif %}
                                            </div>
                                            <p class="px-5 text-gray-400 text-sm">{{ comentario.timestamp|naturaltime }}</p>
                                            <p class="px-5 text-sm">{{ comentario.content }}</p>
                                        </div>
                                    <!-- FIN COMENTARIOS -->
                                {% endfor %}
                            {% else %}
                            {% endif %}
                        </div>
                            <div class="p-5 m-0 border-t border-gray-200 bg-gray-100">
                                <form action="javascript:void(0);" method="POST">
                                {% csrf_token %}
                                    <input type="hidden" id="post_id" value="{{ post.id }}">
                                    <p class="text-sm text-gray-400">Comentar</p>
                                    <textarea id="mensaje" name="comentario" id="" cols="30" rows="1" class="px-3 resize-none overflow-hidden border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-200 w-full p-2 transition-all ease-linear duration-100" placeholder="Escribe un comentario..."></textarea>
                                    <div class="flex justify-between">
                                        <button type="submit" id="botonEnviar" class="enviarComentario desactivado cursor-auto transition-all ease-linear duration-100 p-2 bg-gray-300 rounded-lg text-white mt-1"><i class="fas fa-paper-plane"></i> Enviar</button>
                                        <p class="texto-contador text-sm text-gray-400"><span id="contador">0</span>/280</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Fin Tweet -->
                        </div>

{% endblock content %}